.product {

  &__container {
    width: 18rem;
    height: 22rem;
    margin: 1rem;
    padding-bottom: .5rem;
  }
  &__img {
    max-width: 18rem;
    height: 10rem;
    padding: 0;
    margin: 0;
    background-color: #836568;
    overflow: hidden;

    .btn__remove {
        position: relative;
        float: right;
        margin-right: .25rem;
        margin-top: .25rem;
    }
  }

  &__content {
    padding: 0 1rem;

    * {
        margin: .5rem 0;
    }
  }
}
